<div fxLayout="row" style=" margin-top: 10px;
margin-bottom: 10px;" flex fxLayoutGap="10px">


<form [formGroup]="taxForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="100%">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Basic Salary</mat-label>
        <input matInput formControlName="basicSalary" name="basicSalary">
      </mat-form-field>
    </div>
    <div fxFlex="100%">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>House Rent Allowance</mat-label>
        <input matInput formControlName="houseRentAllowance" name="houseRentAllowance">
      </mat-form-field>
    </div>
    <div fxFlex="100%">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Leave Travel Allowance</mat-label>
        <input matInput formControlName="leaveTravelAllowance" name="leaveTravelAllowance">
      </mat-form-field>
    </div>
    <div fxFlex="100%">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Gross Salary</mat-label>
        <input matInput formControlName="fixedSalary" name="fixedSalary">
      </mat-form-field>
    </div>
    <div fxFlex="100%">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Dearness Allowance</mat-label>
        <input matInput formControlName="dearnessAllowance" name="dearnessAllowance">
      </mat-form-field>
    </div>

    <div fxFlex="100%">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>|Flexi Salary</mat-label>
        <input matInput formControlName="flexiSalary" name="flexiSalary">
      </mat-form-field>
    </div>
    <div fxFlex="100%">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>National Pension Scheme</mat-label>
        <input matInput formControlName="nationalPensionScheme" name="nationalPensionScheme">
      </mat-form-field>
    </div>
    <div fxFlex="100%">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Age</mat-label>
        <input matInput formControlName="age" name="age">
      </mat-form-field>
    </div>
    <div fxFlex="100%">
     
    <mat-radio-group matInput aria-label="Select Regime" formControlName="taxRegimeOption">
     
      <mat-radio-button value="old">Old Regime</mat-radio-button>
      <mat-radio-button value="new">New Regime</mat-radio-button>
  
    </mat-radio-group>
    <h4>Tax payer</h4>
    <mat-form-field>
      <mat-label>Tax Payer</mat-label>
      <mat-select formControlName="taxPayer">
        <mat-option value="indvidual">Individual</mat-option>
        <mat-option value="huf">HUF</mat-option>
        <mat-option value="company">Company</mat-option>
      </mat-select>
    </mat-form-field>
    
  </div>
  <div fxFlex="100%" flex fxLayoutGap="10px">
  <a style=" margin-top: 10px;
  margin-bottom: 10px;" href="javascript:void(0)"(click)="open()">Open 80C</a>
  </div>
    <div fxFlex="100%"  style=" margin-top: 22px;
    margin-bottom: 10px;">
        <button mat-stroked-button color="primary" type="submit" [disabled]="!taxForm.valid">Submit</button>
    </div>
  </div>
</form>
</div>