
<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <a mat-button routerLink="/tax-registration" routerLinkActive="active">Customers</a>
  </mat-toolbar-row>
</mat-toolbar>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main>
  <router-outlet style="margin-top: 80px;"></router-outlet>
</main>
